body {
    color: black;
    margin: 0;
    line height: 1;
    letter spacing: -.003em;
    font-size: 21px;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}

img {
  width: 30%;
  margin-left: 1.6%;
  margin-right: 1.6%;
  vertical-align: middle;
  margin-bottom: 5%;
}